.about {
    position: relative;
    height: 1156px;
    background: url(../images/about.png) no-repeat center / cover;
    padding: 615px 210px 0 210px;
    box-sizing: border-box;
}

.textWrpper {
    width: 100%;
    font-size: 3rem;
}

@media screen and (max-width : 1345px) {
    .about {
        padding: 615px 120px 0 120px;
    }
}

@media screen and (max-width : 630px) {
    .about {
        padding: 615px 20px 0 20px;
    }
}