.about {
    position: relative;
    height: 1156px;
    background: url(../images/about.png) no-repeat center / cover;
    padding: 615px 210px 0 210px;
    box-sizing: border-box;
    overflow: hidden;
    /* 텍스트가 밑에서 올라올 때 영역 밖으로 나가는 것 방지 */
}

.textWrpper {
    width: 100%;
    font-size: 3rem;
}

.textWrpper p {
    margin: 0;
    /* 기본 마진 제거로 간격 조절 용이 */
    line-height: 1.4;
    /* 가독성을 위한 줄간격 */
    will-change: transform, opacity;
    /* 성능 최적화 */
}

@media screen and (max-width : 1345px) {
    .about {
        padding: 615px 120px 0 120px;
    }
}

@media screen and (max-width : 630px) {
    .about {
        padding: 615px 20px 0 20px;
    }
}